extends layout

block content
    if name == ""
        h1 Welcome to the Data Express
        form(id='form', method='post')
            p Username:   
                input(type='text', name='username')
            p Password:
                input(type='password', name='password')
            p
                input(type='submit', value='Log In' id='submittionButton')
        a(href='/create') Create Account
    else
        h1 Welcome #{name}, to the Data Express
        a(href='/account') Edit Account
    canvas(id='graph')
    script(src='/script.js')
